@font-face{
    font-family: 'bYekan';
    src: url(fonts/1.eot),url(fonts/2.ttf),url(fonts/3.woff);
    font-weight: normal;
}

body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'bYekan';
}

a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding:5px;
    align-self: center;
    font-family: 'bYekan';

}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding:0px 10px;
    align-items:baseline;
    align-content: center;
}

i {
    font-style: normal;
    text-align: center;
}

button{
    border-style: none;
    border: 0px; 
    background-color: #5332db;
    border-radius: 50px;
    height: 35px;
    width: 100px;
    border: none;
    outline:none;
}

/* #particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  } */

.logo{
    width:250px;
    height: 70px;
    padding-left: 50px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgb(176,176,176);
    background: linear-gradient(100deg, rgba(176,176,176,1) 20%, rgba(238,238,238,1) 50%,
     rgba(186,185,185,1) 80%);
}

.gridR{
    display: grid;
    grid-template-rows:repeat(6, 100px);
    grid-template-columns: 200px 200px;
    row-gap: 10px;
    column-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin: 50px;
    margin-top: 200px;
    margin-right: 200px;
    float:right;
}

.gridL{
    display: grid;
    grid-template-rows:repeat(7, 100px);
    grid-template-columns: 200px 200px;
    row-gap: 50px;
    column-gap: 20px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin-top:200px;
    margin-left: 200px;
    float: left;
}

.vl {
    border-left: 3px solid #5332db;
    height: 750px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top:40%;
  }

.imageSize{
    height:90px;
    width: 200px;
    border-radius: 50px;
    background-color: white;
    padding: 5px;
    margin:25px;
    border:1px solid rgb(122, 122, 122);
}

.label{
    position:relative; 
}

.label input{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    border: none;
    outline: none;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-right: 220px;
    font-size: 20px;
    color: white;
    background: rgb(105,27,213);
    background: linear-gradient(135deg, rgba(105,27,213,1) 23%, rgba(208,12,210,1) 80%);
}

.labelM{
    color:rgb(255, 255, 255); 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:120px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

input:focus ~ label, input:valid ~ label{
    top:-20px;
    left:150px;
    font-size:14px;
    color:#5264AE;
  }

.gridR button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: white;
    background: rgb(105,27,213);
    background: linear-gradient(135deg, rgba(105,27,213,1) 23%, rgba(208,12,210,1) 80%);
}
.gridR .labelTwo {
    height: 40px;
    width: 250px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-right: 220px;
    font-size: 20px;
    color: white;
    background: rgb(0, 0, 0);
    background-color: rgb(184, 184, 184) !important;
}

.gridR .labell{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
    margin-right: 220px;
    font-size: 20px;
    color: white;
    background: rgb(39,118,207);
    background: linear-gradient(111deg, rgba(39,118,207,1) 23%, rgba(146,4,161,1) 80%);
}

.gridR .grid3 {
    display: grid;
    grid-template-rows:50px;
    grid-template-columns:repeat(3, 100px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 200px;
    margin-top: -20px;
}

.gridR .grid3 label{
    height: 50px;
    width: 80px;
    justify-content:space-evenly;
    align-content: center;
    border-radius: 0px 0px 20px 20px;
    margin: 20px;
    text-align: center;
    font-size: 20px;

    color: white;
    background: rgb(39,118,207);
    background: linear-gradient(111deg, rgba(39,118,207,1) 23%, rgba(146,4,161,1) 80%);

}

.fa, .fab, .fad, .fal, .far, .fas{
    padding: 15px;
}


.gridR .grid3 img{
    height: 15px; 
    width: 15px; 
    padding:10px; 
    float: left;
    align-content: center;
    text-align: center;
}

.gridR .continue{
    height: 40px;
    width: 150px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 5px;
    margin-right: 220px;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background: rgb(89, 175, 4);
    cursor: pointer;
}
/* 
footer{
    width: 100%;
    height: 200px;
    /* margin-top: -100px; 
    position: relative;
    background-color: yellowgreen;
    bottom: 0px;
    /* top: 0px; 
}

footer img{
    width:100%;
    height:300px;
    /* padding-top: -80px;
    position: relative;
    bottom: 0px;

}

.social{
    width: 30px;
    height: 30px;
    padding: 5px;
    bottom: 150px;
    /* margin-top: 160px; */
    /* padding-bottom: 35px; 

}
.socialLogo
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 570px;
    /* top:1300px; */
    /* padding-bottom: 15px; 
}

.security{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: 200;
    bottom: 50px;
    /* top:30px;  
}
h5{
    font-size: small;
    font-weight: lighter;
    text-align: center;
    /* padding-top: 30px;
}

h6{
    font-size: xx-small;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    /* bottom: 2px; 
} */

footer{
    width: 100%;
    height: 200px;
    margin-top: -100px;
    position: relative;
    /* background-color: yellowgreen; */
    top: 0px; 
}

footer img{
    width:100%;
    height:330px;
    margin-top: -80px;
    position: relative;
    bottom: 0px;
}

.social{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;

}
.socialLogo
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 570px;
    top:1350px;
}

.security{
    position: absolute;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-size: small;
    font-weight: 200;

    
}
h5{
    font-size: small;
    font-weight: lighter;
    text-align: center;
}

h6{
    font-size: xx-small;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}


